// Created by root on 31/01/16.
extends ../navbar
block view
    //ACTIONS
    if(data)
           #actions.col-xs-10.col-xs-offset-1
               a.col-xs-2.col-xs-offset-1.btn.btnTableSelector.newElement(href="http://localhost:3000/"+db+"?v=asignaturas&a=add") Nueva
               a.col-xs-2.col-xs-offset-1.btn.action(action="edit") Editar
               if(db == "mongo")
                   a.col-xs-2.col-xs-offset-1.btn.hidden.action(accesskey=data._id, about="asignaturas", action="update") Guardar
                   a.col-xs-2.btn.action(accesskey=data._id, about="asignaturas", action="delete") Eliminar
               else
                   a.col-xs-2.col-xs-offset-1.btn.hidden.action(accesskey=data.idAsignatura, about="asignaturas", action="update") Guardar
                   a.col-xs-2.btn.action(accesskey=data.idAsignatura, about="asignaturas", action="delete") Eliminar
               a.col-xs-offset-1.col-xs-2.btn(href="http://localhost:3000/"+db+"?v=asignaturas") Atrás

    // VIEWER
    #viewerOne.container.col-xs-8.col-xs-offset-2
        if(data)
            ul
                li.clearfix.hidden
                    if(db == "mongo")
                        input#id.data(value=data._id, disable)
                    else
                        input#id.data(value=data.idAsignatura, disable)
                li.clearfix
                    .col-xs-3 Nombre
                    input#name.input-lg.col-xs-9.data(value=data.nombre, disabled)
                li.clearfix
                    .col-xs-3 Descripcion
                    input#descripcion.input-lg.col-xs-9.data(value=data.descripcion, disabled)
                li.clearfix
                    .col-xs-3 Profesor
                    input#profesor.input-lg.col-xs-9.data(value=data.profesor, disabled)

        else
            .well-lg
                .col-xs-10.col-xs-offset-1.error= err
            a.col-xs-offset-5.col-xs-2.btn.btn-default(href="http://localhost:3000/" + db + "?v=asignaturas") Atrás

    footer
        .navbar-fixed-bottom.navbar-inverse
            .col-lg-6.col-lg-offset-6.col-md-6.col-md-offset-6.col-sm-12.col-xs-12
                span.col-xs-6 Sesión iniciada como:
                if(user)
                    if(user.facebook)
                        if (user.facebook.email != null)
                            span.username=user.facebook.email
                    if(user.twitter)
                        if (user.twitter.username != null)
                            span.username=user.twitter.username
                    if (user.email != null)
                        span.username=user.email